.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

settings.gradle
/M2/lib/.gradle
/M2/lib/gradle
/M2/gradle
/M2/gradlew
/M2/gradlew.bat
/M2/build
/M2/*/build
/M2/.gradle
/M2/.gradle
/M2/gradle

out
.idea
*.class
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xmld

*~
*.swp
.m2
/target
*/target

.classpath
.project
.settings
.metadata

